# -*- coding: utf-8 -*-
"""
Created on Mon Nov  7 19:37:32 2022

@author: arunk
"""

<!DOCTYPE html>
<html lang="en">
<head>
	<img src="ripan codes/food.jpg" alt="food" width="500px">
	<meta charset="UTF-8">
	<title>Restaurant Recommendation Engine</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	
</head>

<body>
	<div>
	<h1><mark>Food Recommendation System</mark></h1>
	
		<p1><span>Enter your food</span></p1>
		
			
			<form name="passdata" action="/about" method="post">
			<input type="text"	 name="Ordername">
			<input type="submit" value="submit">
	</div>
</form>

</body>
</html>